# Stellar Network Configuration
VITE_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
VITE_RPC_URL=https://rpc.ankr.com/stellar_testnet_soroban/27d8079fb434ba5169358c0a6b24951c5ba0f32690f57218399fc1b6a47e07a7

# Contract Configuration
# Replace with your deployed contract ID after building and deploying
VITE_CONTRACT_ID=CADCLWIMKSZ44WPAVI6HMM67WVEI3P24VUAOTV47KDL364ZMOM5QAFKK

# Optional: Custom goal amount in XLM (default is 10 XLM)
# VITE_DEFAULT_GOAL_XLM=10
